@*@{
    ViewData["Title"] = "Home Page";
}*@
<!DOCTYPE html>
<html>

<head style="text-align: center;">
    <style>
        body {
            background-image: url("car.jpeg.jpg");
        }
    </style>
   
</head>
<body>
    <!-- <title style="text-align: center;"><strong>Introducion</strong></title>
       <title style="text-align: center;"> My Story</title> -->
    

    <p>
        ON THE FINAL day of my sophomore year of high school, I was hit in the
        face with a baseball bat. As my classmate took a full swing, the bat
        slipped out of his hands and came
    </p>
    <br>
    <p>
        A bat smashed into my face with such force that it crushed my nose
        into a distorted U-shape. we collision sent the so , tissue of my brain
        slamming into the inside of my skull. Immediately, a wave of swelling surged
        throughout my head. In a fraction of a second, I had a broken nose, multiple
        skull fractures, and two shattered eye sockets.
    </p>
    <br>
    <p>
        When I opened my eyes, I saw people staring at me and running over to
        help. I looked down and noticed spots of red on my clothes. One of my
        classmates took the shirt off his back and handed it to me. I used it to plug
        the stream of blood rushing from my broken nose. Shocked and confused, I
        was unaware of how seriously I had been injured
    </p>
    <br>
    <p>
        “Patti,” I said casually, ignoring the fact that it had taken me ten seconds
        to remember my own mother’s name.
        at is the last question I remember. My body was unable to handle the
        rapid swelling in my brain and I lost consciousness before the ambulance
        arrived. Minutes later, I was carried out of school and taken to the local
        hospital.
        Shortly aer arriving, my body began shutting down. I struggled with
        basic functions like swallowing and breathing. I had my
    </p>
    <button style="display: grid;"><a href="file:///E:/Dotnet/HTML/contentpage.html">Next Page</a></button>
</body>
</html>